.container{
  margin-top: 2%;
  align-content: center;
  padding-left:10%;
  padding-right:10%;
  margin-top: 5%;
}

.card-background{
  background-color: #424242;
}

.particular-width{
    width: 100%;
}

.radio-button-padding{
  color:white;
  padding: 2%;
}

.button-color{
  color: white;

  background-color: #1fcbca;
}
