<div class="container">
    <div class="card">
      <div class="card-body card-background">
        <div class="row">
          <div class="col" align="center">
            <mat-form-field style="width:90%">
              <mat-label>Band</mat-label>
              <mat-select required>
                <mat-option *ngFor="let band of allBands" [value]="band.value">
                  {{band.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" align="center">
            <mat-form-field style="width:90%">
              <mat-label>Series</mat-label>
              <mat-select required>
                <mat-option *ngFor="let series of allSeries" [value]="series.value">
                  {{series.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  <form style="color:white">
    <div class="card">
      <div class="card-body card-background">
        <div class="row">
          <div class="col" align="center">
            <h2 class="card-title" style="color: white">Latitude</h2>
            <div class="card-body card-background">
              <div class="row">
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Degrees</mat-label>
                    <input matInput placeholder="Ex. 41" required [(ngModel)]="newCoords.degreesLat" name="degreesLat">
                  </mat-form-field>
                </div>
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Minutes</mat-label>
                    <input matInput placeholder="Ex. 24" required [(ngModel)]="newCoords.minutesLat" name="minutesLat">
                  </mat-form-field>
                </div>
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Seconds</mat-label>
                    <input matInput placeholder="Ex. 12.2" required [(ngModel)]="newCoords.secondsLat" name="secondsLat">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-radio-group aria-label="Select an option" required [(ngModel)]="newCoords.latNS" name="latNS">
                    <mat-radio-button class="radio-button-padding" value="N">North</mat-radio-button>
                    <mat-radio-button class="radio-button-padding" value="S">South</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="col" align="center">
            <h2 class="card-title" style="color:white">Longitude</h2>
            <div class="card-body card-background">
              <div class="row">
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Degrees</mat-label>
                    <input matInput placeholder="Ex. 2" required [(ngModel)]="newCoords.degreesLong" name="degreesLong">
                  </mat-form-field>
                </div>
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Minutes</mat-label>
                    <input matInput placeholder="Ex. 10" required [(ngModel)]="newCoords.minutesLong" name="minutesLong">
                  </mat-form-field>
                </div>
                <div class="col" align="center">
                  <mat-form-field class="particular-width">
                    <mat-label>Seconds</mat-label>
                    <input matInput placeholder="Ex. 26.5" required [(ngModel)]="newCoords.secondsLong" name="secondsLong">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-radio-group aria-label="Select an option" required [(ngModel)]="newCoords.longEW"  name="longEW">
                    <mat-radio-button class="radio-button-padding" value="E">East</mat-radio-button>
                    <mat-radio-button class="radio-button-padding" value="W">West</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" align="center">
<!--            <a href="https://{{goToLink}}">-->
              <button mat-raised-button class="button-color" (click)="goToGMapsLink()">Calculate</button>
<!--            </a>-->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
