<div class="card-content">
  <div class="row">
    <div class="col" align="center">
      <nav mat-tab-nav-bar mat-align-tabs="center" class="nav-container"  align="center">
        <a mat-tab-link class="active-link-nav" (click)='selectTab(1)' [class.active]="isSelected(1)">
          Info
        </a>
        <a mat-tab-link class="active-link-nav" (click)='selectTab(2)' [class.active]="isSelected(2)">
          Reviews
        </a>
      </nav>
    </div>

  </div>

  <div class="row" style="padding-top:5%;">
    <div class="col" align="center">
      <div *ngIf="isSelected(1)">
        <blockquote>Band: {{obj.band}}</blockquote>
        <blockquote>Series: {{obj.series}}</blockquote>
        <blockquote>Channel bandwidth: {{obj.channelBandwidth}}</blockquote>
      </div>

      <app-reviews *ngIf="isSelected(2)" [reviews]="obj.reviews"></app-reviews>
    </div>
  </div>
</div>
